.header{
    position: fixed;
    padding: 31px 60px;
    background: #434343;
    margin-bottom: 40px;
    z-index: 99;
    width: 100%;
}
.container {
    max-width: 848px;
    margin: 0 auto;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-ul{
    display: flex;
}
.navbar-list{
    margin-right: 40px;
    list-style: none;
}
.navbar-item{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.basket-icon{
    background: transparent;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.modal-basket__position-container{
    max-height: 300px;
    overflow: auto;
}