.header{
    position: fixed;
    padding: 31px 60px;
    background: #434343;
    margin-bottom: 40px;
    z-index: 99;
    width: 100%;
}
.container {
    max-width: 848px;
    margin: 0 auto;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-ul{
    display: flex;
}
.navbar-list{
    margin-right: 40px;
    list-style: none;
}
.navbar-item{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #75777B;
    border-radius: 10px;
    padding: 5px 9px;
}
.navbar-item.active{
    background-color: #75777B;

}
.basket-icon{
    position: relative;
    background: transparent;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.basket-wrapper{
    display: flex;
}
.basket-span{
    margin-right: 5px;
    margin-bottom: 30px;
    width: 10px;
    color: white;
    font-size: 13px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: none;
}
.basket-span.active{
    display: block;
}
.modal-basket__position-container{
    max-height: 300px;
    overflow: auto;
}
