.popular{
    padding: 55px 0 100px 0;

}
.popular-wrapper{
    margin: 0 auto;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.search {
    width: 221px;
    height: 37px;
    border: 2px solid #C7C7C7;
    border-radius: 8px;
    background-color: #6D6E71;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-image: url('../../../public/img/search.svg');
    background-repeat: no-repeat;
    background-position: 185px;
    padding-left: 15px;
    color: #C7C7C7;
    z-index: 98;
}
.search::-webkit-input-placeholder{
    color: rgba(199, 199, 199, 0.55); 
}
.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.cards{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #75777B;
    border-radius: 12px;
    margin-bottom: 20px;
    min-width: 260px;
    margin-right: 22.6px;
}
.card-img{
    margin-bottom: 15px;
    max-width: 260px;
    max-height: 140px;
}
.card-title{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.card-price{
    margin-bottom: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.card-buy{
    background-color: #E69952;
    color: white;
    padding: 12px 45px;
    border-radius: 12px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
    cursor: pointer;
}