.modal {
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    width:100%;
    height:100%;
    overflow:hidden;
    background: rgba(50, 50, 50, 0.76);
    backdrop-filter: blur(7.5px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}
.modal__dialog{
    max-width: 848px;
    margin: 100px auto;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}
.modal__content{
    position:relative;
    width:100%;
    background-color:#75767A;
    border:1px solid rgba(0,0,0,.2);
    max-height:390px;
    overflow-y:auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    transform: scale(0.5);
    transition: 0.5s ease;
}
.modal__content.active{
    transform: scale(1);
}
.modal-img{
    padding: 26px 52px;
    background: #636364;
    border-radius: 20px; 
    display: flex;   
    align-items: center;
    min-width: 430px;
}
.img-for-modal{
    max-width: 300px;   
}
.modal-info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-info.photo input{
    background: transparent;
    color: white;
    width: 320px;
    height: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #DCDCE4;
    border-radius: 4px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    margin-left: 15px;
}
.modal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}
.modal-title.photo{
    color:white;
}

.modal-subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.position-info{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.position-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plus-minus{
    border: 3px solid #FFFFFF;
    border-radius: 74px;
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.count{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}
.btn-count{
    padding: 32px 20px;
    border: none;
    background-color: transparent;
}
.buy-position{
    background-color: #E69952;
    color: white;
    padding: 19px 48px;
    border-radius: 74px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}
.buy-position.photo{
    margin-top: 10px;
    padding: 10px 5px;
}
.modal__close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#fff;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
}





.modal-basket__title{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}
.modal-basket__position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 25px;
}
.modal-basket__position-info{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}   
.plus-minus-basket{
    width: 136px;
    height: 41px;
    border: 3px solid #FFFFFF;
    border-radius: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-count-basket{
    align-items: center;
    padding: 0 15px;
    border: none;
    background-color: transparent;
}
.count-basket{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.position-name{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.modal-basket__change-pay{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.change-pay__title{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.radio-modal{
    margin-bottom: 10px;
    margin-right: 20px;
}
.modal-basket__button-buy{
    background-color: #E69952;
    color: white;
    padding: 19px 75px;
    width: 369px;
    height: 60px;
    border-radius: 74px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.buy-basket{
    padding: 38px 0;
    display: flex;
    justify-content: center;
}