.main{
    padding: 55px 41px;
    width: 100%;
}
.main-container{
    max-width: 1600px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header__title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.main-header__back{
    background: transparent;
    width: 80px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    color: #7B7B8D;
}
.main-header__back:hover{
    color: #271FE0;
    transition: 0.3s;
}
.main-header__button{    
    background: #4945FF;
    border-radius: 6px;
    padding: 10px 24px 10px 20px;
    width: 150px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.main-header__button span{
    font-size: 20px;
}
.main-table{
    padding: 20px 45px;
    margin-top: 50px;
    background-color: white;
    width: 100%;
    border-radius: 6px;
}
.main-form{
    padding: 20px 45px;
    margin-top: 50px;
    background-color: white;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-form__span{
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #7B7B8D;
    margin-bottom: 25px;
}
.main-form__input{
    width: 320px;
    height: 40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #DCDCE4;
    border-radius: 4px;
    color: black;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
}
.main-table__button{
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    padding: 20px 0;
}
.main-table td{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}
.main-table th{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #7B7B8D;
    text-transform: uppercase;
    padding: 20px 0;
    margin-right: 10px;
    text-align: left;
}
.line{
    height: 2px;
    background-color: #EAEAEF;
}
.icon{
    margin-left: 15px;
    width: 20px;
    height: 20px;
}
.main-table__button button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* .table-wrapper {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #eee;
    font-weight: bold;
  } */